.brand-link .brand-text {
  white-space: normal;
  display: block;
  text-indent: -2px;
  padding-left: 52px;
  /* text-align: center; */
  font-weight: bold;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
#login-form .MuiFormControl-root {
  width: 100%;
}
.login-error {
  position: absolute;
  font-size: 13px;
  color: red;
}
#register-link .text-info {
  padding-left: 10px;
  text-decoration: underline;
}

div#login {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
